<mat-accordion>
    <mat-expansion-panel *ngFor="let bill of (bills$ | async)" (opened)="selectBill(bill.url)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ bill.number }}
            </mat-panel-title>

            <mat-panel-description>
                <div class="panel-desc-container">
                    {{ bill.shortTitle || bill.title || 'No Title' | truncateString:[100] }}
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expansion-panel-content">
            <ng-container *ngIf="(selectedBillInfo$ | async) as billInfo; else showLoadingBill">
                <span class="header">
                    Subject:
                </span>
                {{ billInfo.primarySubject }}
            </ng-container>
            <ng-template #showLoadingBill>
                <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                    <span>
                        Loading Bill Info
                    </span>
                </div>
            </ng-template>
        </div>
    </mat-expansion-panel>
</mat-accordion>
