#member-search {
  font-size: inherit;
  text-align: center;
  color: white;
  line-height: inherit;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-style: none;
  outline: none;
}

#search-container {
  width: 100%;
  border: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
