@import "variables";

.title-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.app-content {
  flex: 0 1 auto;
}

.title {
  font-size: 72px;
  line-height: 1em;
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;

  &:after {
    content: "MY PTO";
  }
}

.title.login:hover::after {
  content: "LOGIN";
  animation: spin 0.2s ease-in-out forwards;
}

.title.logout:hover::after {
  content: "LOGOUT";
  animation: spin 0.2s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shell-container {
  width: 100%;
}

.page-container {
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $primary-green;
  //background-image: linear-gradient(45deg, $primary-green 0%, $dark-blue 200%);
}

.large-button {
  margin: 10px 0;
}
