<div fxLayout="column" fxFlexFill id="shell-container">
  <div fxFlex="0 0 auto" class="nav-bar-container">
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <mat-toolbar-row fxLayout="row">
        <span>Voting Records</span>
        <div>
          <pac-cycle-picker
            (congressionalSessionSelected)="congressSelected($event)"
          ></pac-cycle-picker>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxFlex id="shell-content">
    <router-outlet></router-outlet>
  </div>
</div>
