@import "variables";

:host {
  color: $dark-blue;
}

.pto-year-container {
  border-radius: 10px;
  background-color: $cream;
  padding: 10px;
}

.card-actions {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-items: center;
}

.add-pto-button ::ng-deep .add-year-icon-container {
  transform: scale(0.5);
  &:hover {
    animation: scale-75 0.1s ease-in-out forwards;
  }
}

.delete-icon {
  cursor: pointer;
  fill: #05386b;
  align-self: center;

  &:hover {
    animation: scale-1-2 0.1s ease-in-out forwards;
  }
}

.delete-button {
  display: inline-flex;
  flex-direction: row;
}

@keyframes scale-1-2 {
  to {
    transform: scale(1.5);
  }
}

@keyframes scale-75 {
  to {
    transform: scale(0.75);
  }
}

.pto-card-spacer {
  height: 20px;
}

.pto-year-title {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.pto-entry {
  padding: 15px 0;
}

.divider {
  border-top: 1px solid rgba(#05386b, 0.5);
}

.divider-light {
  border-top: 1px solid rgba(#05386b, 0.3);
}

.pto-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 10px;
}
