<div class="pto-year-container">
  <div class="pto-year-title">
    <div>
      {{ year }}
    </div>
    <div>
      {{ yearAllowance }} + {{ yearCarryover}} carryover days
    </div>
    <div class="add-button" (click)="addPtoButtonClicked()">
        +
    </div>
  </div>
  <div class="divider"></div>
  <div class="pto-card-spacer"></div>
  <div class="pto-year-content">
    <div class="pto-entry" *ngIf="ptoEntry">
      <pto-entry (ptoSubmitted)="addPto($event)"></pto-entry>
    </div>
    <ng-container *ngFor="let pto of entries; let index = index">
      <div class="pto-row">
        <div>{{ pto.title }}</div>
        <div>
          {{ pto.description }}
          <span class="delete-pto-button" (click)="deletePtoButtonClicked(index)">
            <svg class="delete-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
          </span>
        </div>
      </div>
      <div class="divider-light"></div>
    </ng-container>
  </div>
</div>
