<mat-card
  id="bio-card"
  class="mat-elevation-z8"
  *ngIf="member$ | async as member"
>
  <mat-card-header>
    <img
      [src]="partyLogo$ | async"
      mat-card-avatar
      class="example-header-image"
    />
    <mat-card-title>{{ member.name }}</mat-card-title>
    <mat-card-subtitle>test</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div
      fxLayout="row wrap"
      fxFlexFill
      fxLayout.lt-md="column"
      fxLayoutGap="2em grid"
    >
      <img
        fxFlex="1 0 20em"
        fxHide.lt-md
        class="bio-image"
        [src]="memberImage"
        alt="Congress Member Photo"
      />
      <div fxFlex="1 0 10em" fxFlex.lt-md="auto">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </div>
      <pac-bill-list></pac-bill-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      fxFlexFill
      mat-raised-button
      color="accent"
      (click)="votingRecordButtonClicked(member)"
    >
      See Voting Record
    </button>
  </mat-card-actions>
</mat-card>
