@import "theme";

#page {
  background-image: url("/assets/constitution.jpg");
  background-size: cover;
}

#page-content {
  padding: 1em;
}

#header-action-bar {
  font-size: 36px;
  line-height: 1.5em;
  white-space: normal !important;
  text-align: center;
}
