<div class="nav-bar-container">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <mat-toolbar-row fxLayout="row">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/']">
                <mat-icon>home</mat-icon>
            </button>
            <div fxFlex="1 0 auto"></div>
            <span>Austin R English</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="app-content-container overflow-y">
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav mode="side" (openedStart)="sidenavToggled()" (closedStart)="sidenavToggled()">
            sidenav
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
