@import 'theme';

#header-action-bar {
    font-size: 36px;
    line-height: 1.5em;
    white-space: normal !important;
    text-align: center;
    min-height: 3em !important;
    background-color: mat-color($primary)
}