@import "theme";

@-webkit-keyframes moveBG {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(300px);
  }
}

#member-search-page {
  background-color: sandybrown;
  padding: 1em;
}
#member-search-page-content::-webkit-scrollbar {
  width: 0 !important;
}
#member-search-page-content {
  overflow: -moz-scrollbars-none;
}
#member-search-page-content {
  -ms-overflow-style: none;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

:host ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}

#member-search-page-content {
  position: relative;
  perspective: 2px;
  scroll-snap-type: y proximity;
  overflow-x: hidden;
  overflow-y: auto;
}

.member-search {
  padding-top: 2em;
}

//.bg-wrapper {
//  height: 0px;
//  width: 0px;
//}
//
//.bg::after {
//  height: 1500px;
//  width: 1500px;
//  background-repeat: no-repeat;
//  content: '';
//  position: absolute;
//  transform: translateZ(-7px) scale(4);
//  z-index: -1;
//  pointer-events: none;
//}
//
//.house-seal::after {
//  background-position: right;
//  background-image: url("/assets/house-seal.svg");
//}
//
//.senate-seal::after {
//  background-position: left top;
//  background-image: url("/assets/senate-seal.svg");
//}

.snap-child {
  scroll-snap-align: start;
}

#background-seals {
  top: 100px;
  left: -100px;
  z-index: -1;
  height: 125vw;
  position: fixed;
}

#seal-wallpaper {
  z-index: -1;
  height: 125vw;
}
