<mat-sidenav-container class="side-nav-container">
    <mat-sidenav #sideNav [mode]="sideNavMode" [disableClose]="disableClose" class="mat-elevation-z1">
        <mat-list>
            <mat-list-item *ngFor="let pac of (pacs$ | async)" [matTooltip]="pac.name" [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="500" class="clickable"
                [ngClass]="{ 'selected': pac.id === (selectedPacId$ | async) }" (click)="selectPac(pac.id)">
                {{ pac.acronym }}
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <pac-chamber-tabs>
        </pac-chamber-tabs>
    </mat-sidenav-content>
</mat-sidenav-container>
