@import 'variables';

.side-nav-container {
    position: absolute;
    height: calc(100% - 64px);
    left: 0;
    right: 0;
    background: #eee;
    z-index: 0;
  }

  mat-sidenav {
    width: 200px;
    max-width: 50%;
  }

  mat-sidenav-content {
    overflow: auto;
  }

  mat-list {
    padding-top: 0px;
    
    mat-list-item {
      &.selected {
        background-color: $selected !important;
      }
  
      &:hover {
        background-color: $hover-select;
      }
    }
  }

  :host {
    height: 100%;
  }