<mat-card>
  <mat-card-header>
    <img
      [src]="partyLogo$ | async"
      mat-card-avatar
      class="example-header-image"
    />
    <mat-card-title>{{ (member$ | async)?.name }}</mat-card-title>
    <mat-card-subtitle>test</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img class="bio-image" [src]="memberImage" alt="Congress Member Photo" />

    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
