@import "variables";

.shell-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-year-icon {
  fill: $dark-blue;
  cursor: pointer;
}

.add-year-button ::ng-deep .add-year-icon-container {
  &:hover {
    animation: scale-1-5 0.1s ease-in-out forwards;
  }
}

@keyframes scale-1-5 {
  to {
    transform: scale(1.5);
  }
}
